.readMoreContainer {
    background-image: url("../../assets/images/HomeBG.png");
    background-color: #8ED8BF;
    min-height: 100vh;

    .foodContainer{
        padding: 1rem;
        margin: 1rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border: 2px solid black;
        background-color: #8ED8BF;
        .foodInfo{
            color: black;
            width: 60%;
            .foodIngredienser{
                margin: 1rem 0;
            }
            
        }
        .foodImage{
            width: 50%;
            img{
                width: 100%;
            }
        }
    }
  }

  //darkMod
  .readMoreContainer.dark{
    background-color:rgb(14, 3, 83);
    .foodContainer{
        background-color: rgb(121, 115, 115);
    }
  }